<div class="container">
	</br>
	</br>
	</br>
	<h1 class="heading">Colon Hydrotherapy Q&A</h1>

	<p class="sub-heading">What is colon hydrotherapy?</p>
	<p class="maintext">Colon hydrotherapy is a gentle infusion of water into the colon to cleanse it of accumulated waste and attendant toxins. Eliminating this build-up and its toxins can dramatically improve well-being, health and appearance.</p>

	<p class="sub-heading">Why Should I try Colon Hydrotherapy?</p>
	<p class="maintext">Colon hydrotherapy is among the most effective means of enhancing the functioning of your digestive system, relieving constipation, rehydrating the colon and ridding the body of accumulated waste and the body’s most concentrated toxins. It can strengthen the immune system, enhance nutrient uptake and reduce weight. Colon hydrotherapy has been credited with decreasing fatigue, reducing headaches, reversing weight gain and reinvigorating energy. It can also have extraordinary impacts on improving skin tone and resiliency.</p>

	<p class="sub-heading">How does colon hydrotherapy compare with an enema or the use of laxatives?</p>
	<p class="maintext">Colon hydrotherapy is more gentle on the body’s system than an enema because it employs a controlled, lower-pressure flow of water. It is safer to use than laxatives since it offers a natural, drug-free alternative with no potentially harmful side effects. Colon hydrotherapy is not habit-forming. The only addictive feature is the well-being it creates.</p>


	<p class="sub-heading">How long is a session?</p>
	<p class="maintext">A session lasts about 40 minutes. Depending on the individual’s need, the session can be extended to 60 minutes, but can not be over than 60 minutes.</p>

	<p class="sub-heading">How many sessions are needed?</p>
	<p class="maintext">This truly depends on the individual. For many people, a mild cleanse may be sufficient, while others may take more sessions to remove years of built-up toxins. The therapist will have the opportunity to assess your progress and offer suggestions for the future that accommodates your needs and objectives.</p>

	<p class="sub-heading">Is it habit forming?</p>
	<p class="maintext">No, you will not be addicted to the colon hydrotherapy. The only addictive feature is the well-being it creates.</p>

	<p class="sub-heading">How can I prepare for a colon hydrotherapy session?</p>
	<p class="maintext">We recommend eating lightly on the day of your session and staying away from carbs, fats, and dairy products. Plenty water should be taken in the days prior to your session to help your body rehydrate.</p>

	<hr class="divider">

	<h1 class="heading">Floatation Q&A</h1> 

	<p class="sub-heading">What is flotation?</p>
	<p class="maintext">Flotation, or floating therapy, creates a zero-gravity environment in a water pool, to soothe and heal your body from the stresses of life’s daily pressure. Floating in a flotation therapy suite can help achieve a deep state of relaxation. It allows the body to recover from stress, relieves pain, stimulates blood-flow through all tissues, and helps the body release natural endorphins. </p>

	<p class="sub-heading">What can I benefit from floatation therapy?</p>
	<p class="maintext">Floating in a floatation therapy pod or room can help people to achieve a deep relaxation state. It allows the body to recover from stress, relieves the pain, stimulates the blood flow through all tissues, and helps the body release natural endorphins. It also helps mitigate the jet leg for travelers..</p>

	<p class="sub-heading">What if I’m Claustrophobic?</p>
	<p class="maintext">Claustrophobia has kept many individuals from experiencing the relaxation and joy of flotation. We understand that.</p>
	<p class="maintext">Our “conventional” flotation pod is anything but conventional. It is twice the size of a conventional tank. Even so, if you still suspect you may experience the anxiety of claustrophobia, we offer a completely open, spacious alternative. We have a room that is architected specifically for those who may be inclined toward anxiety or claustrophobia. You can relax, acclimate to your surroundings and, when you’re ready, slide into the spacious flotation pool. It’s even big enough for two, creating the opportunity for sharing this relaxing experience with a partner. Plus, you control the lighting. You can enjoy complete darkness, full illumination or just stare at the twinkling “stars” in the ceiling.</p>

	<p class="sub-heading">How long is a session?</p>
	<p class="maintext">A session lasts 90 minutes, including pre-shower, float, and after shower.</p>

	<p class="sub-heading">How can I prepare for a floatation session?</p>
	<p class="maintext">We recommend eating lightly on the day of your flotation session and staying away from carbs, fats and dairy products. Drink plenty of water in the days prior to your session to help hydrate your body for optimal results.</p>

	<p class="sub-heading">Why Do You Combine Colon Hydrotherapy with Flotation?</p>
	<p class="maintext">Flotation is an immensely popular phenomenon. Numerous flotation spas have opened in the Vancouver area in recent years.</p>
	<p class="maintext">Puriin Spa & Wellness is unique in that we combine flotation with colon hydrotherapy to create a singular destination for physical and emotional well-being.</p>
	<p class="maintext">The addition of flotation as part of our spa services adds additional harmonization between the physical and emotional health benefits of both procedures. </p>
	<p class="maintext">Both colon hydrotherapy and flotation have the effect of detoxifying the system, improving skin tone and resiliency, reducing pain and increasing overall well-being.</he>
	<p class="maintext">The colon is the primary repository of toxins in your body. Colon hydrotherapy is the foremost way to release toxins from your large intestine, washing much of the accumulated toxicity away over the program of treatments. Because some of the toxins have become dehydrated and hardened over years, hydrotherapy also serves to rehydrate and make them malleable. Some may then seek to exit the body through the skin and lymph system. Our flotation treatments, enhanced by Epsom salts, extract toxins from the skin and lymph systems.</p>
	<p class="maintext">Combining the cleanse of the intestine with the lymph system detoxification presents the most holistic means to purification, which leads to optimal health.</p>

	<p class="sub-heading">What About Emotional Health?</p>
	<p class="maintext">The colon plays a significant role in the entire nervous system. Cleansing and clearing the colon can improve emotional health, boost confidence, brighten mental outlook and induce tranquility.</p>
	<p class="maintext">Flotation, while enhancing physical health through the removal of toxins in the lymph system and skin, also provides the opportunity for emotional rejuvenation through relaxation, reflection, meditation, restfulness and mindfulness. </p>
	<p class="maintext">Together, these two treatments offer an extraordinary and balanced approach to emotional well-being.</p>

</div>