
	</br>
	</br>
	</br>
	<h1 class="heading">Colon Hydrotherapy Q&A</h1>
	<div class="row">	
		<hr class="divider">
	</div>
	<br>
	<p class="sub-heading">What is colon hydrotherapy?</p>
	<p class="maintext">Colon hydrotherapy is a gentle infusion of water into the colon to cleanse it of accumulated waste and attendant toxins. Eliminating this build-up and its toxins can dramatically improve well-being, health and appearance.</p><br>

	<p class="sub-heading">Why Should I try Colon Hydrotherapy?</p>
	<p class="maintext">Colon hydrotherapy is among the most effective means of enhancing the functioning of your digestive system, relieving constipation, rehydrating the colon and ridding the body of accumulated waste and the body’s most concentrated toxins. It can strengthen the immune system, enhance nutrient uptake and reduce weight. Colon hydrotherapy has been credited with decreasing fatigue, reducing headaches, reversing weight gain and reinvigorating energy. It can also have extraordinary impacts on improving skin tone and resiliency.</p><br>

	<p class="sub-heading">How does colon hydrotherapy compare with an enema or the use of laxatives?</p>
	<p class="maintext">Colon hydrotherapy is more gentle on the body’s system than an enema because it employs a controlled, lower-pressure flow of water. It is safer to use than laxatives since it offers a natural, drug-free alternative with no potentially harmful side effects. Colon hydrotherapy is not habit-forming. The only addictive feature is the well-being it creates.</p><br>


	<p class="sub-heading">How long is a session?</p>
	<p class="maintext">A session lasts about 40 minutes. Depending on the individual’s need, the session can be extended to 60 minutes, but can not be over than 60 minutes.</p><br>

	<p class="sub-heading">How many sessions are needed?</p>
	<p class="maintext">This truly depends on the individual. For many people, a mild cleanse may be sufficient, while others may take more sessions to remove years of built-up toxins. The therapist will have the opportunity to assess your progress and offer suggestions for the future that accommodates your needs and objectives.</p><br>

	<p class="sub-heading">Is it habit forming?</p>
	<p class="maintext">No, you will not be addicted to the colon hydrotherapy. The only addictive feature is the well-being it creates.</p><br>

	<p class="sub-heading">How can I prepare for a colon hydrotherapy session?</p>
	<p class="maintext">We recommend eating lightly on the day of your session and staying away from carbs, fats, and dairy products. Plenty water should be taken in the days prior to your session to help your body rehydrate.</p><br>
	
	<div class="row">	
		<hr class="divider">
	</div>
