<div class="homepage">
	<img src="assets/logo-black.jpg" id="logo">
	<div class="row">		
		<hr class="divider-1">	
	</div>
  <div class="row">    
	  <img src="assets/picture-1.jpg" id="picture">		
  </div>
	<section id="about">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="heading">Luxurious spa experience</h1>
      </div>
    </div>
    <div class="row">
    <hr class="divider">
    </div>
    <br>
    <br>
    <div class="row text-center">
    	<div class="col-md-8">
        <div class="maintext">
        	<p>Puriin Spa & Wellness brings together the foremost technologically advanced tools for colon hydrotherapy and flotation, with exquisite, personalized service that transforms a procedure into an enjoyable, luxurious, holistic experience.</p>
          <p>Inner well-being is integral to outward radiance. Our complement of services optimally harmonizes body, soul and spirit.</p>
          <p>In addition to the sumptuous surroundings and outstanding service, Puriin offers guests several wholly exclusive features. Unparalleled privacy. Freedom from claustrophobia with large flotation suites including one for couples. Completely concierged holistic spa experience. Medical standard hygienic excellence.</p>
          <p>Our equipment is the most advanced available in the world today, ensuring the most optimal results.</p> 
          <p>Guests are offered healthy refreshments, such as healing herbal teas, customized juices or alkaline water, which can boost metabolism and help absorb nutrients more effectively. Before beginning, a member of our trained service team will engage the guest in a consultation about health and wellness issues and concerns, then introduce the available options.</p>
          <p>At Puriin Spa & Wellness, everything is oriented to nurturing physical well-being and emotional balance through extraordinary treatments and incomparable service.</p> 
				</div>
      </div>
					
      <div class="col-md-4">
      	<div class="iilogo"></div>
      	<!-- <img src="assets/iilogo-white.jpg" id="iilogo"> -->
          <ul class="list-unstyled">
          	<li class="contact-label"><i class="fa fa-location-arrow fa-fw faa-float animated"></i>Location</li></br>
          	<li class="contact-text">200-1128 West Hastings St<br>Marriot Hotel, Vancouver</li></br>
          	<li class="contact-label"><i class="fa fa-clock-o fa-fw faa-spin animated"></i>Hours</li></br>
          	<li class="contact-text">9am - 7pm</li></br>
          	<li class="contact-label"><i class="fa fa-phone fa-fw faa-wrench animated"></i>Phone</li></br>
            <li class="contact-text">(604) 353-6789</li></br>
            <li class="contact-label"><i class="fa fa-envelope-o fa-fw faa-passing animated"></i>Email</li></br>
            <li class="contact-text">frankxu1992@gmail.com</li>
            <a href="#services" class="btn btn-lg">BOOK APPOINTMENT</a>
          </ul>
      </div>
    </div>
	</section>
  <div class="row"> 
    <hr class="divider">
  </div>
</div>

