<div class="homepage">
	<img src="assets/logo-black.jpg" id="logo">
	<div class="row">		
		<hr class="divider-1">	
	</div>
	<img src="assets/picture-2.jpg" id="picture">		
	<section id="about">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="heading">Luxurious spa experience</h1>
      </div>
    </div>
    <div class="row">
    <hr class="divider">
    </div>
    <div class="row text-center">
    	<div class="col-md-8">
        <div class="maintext">
        	<p>Puriin Spa & Wellness brings together the foremost technologically advanced tools for colon hydrotherapy and flotation, with exquisite, personalized service that transforms a procedure into an enjoyable, luxurious, holistic experience.</p>

					<p>Inner well-being is integral to outward radiance. Puriin Spa & Wellness enhances the most essential functioning of the body, which enriches appearance, builds confidence and improves mood. </p>

					<p>Our complement of services optimally harmonizes body, soul and spirit. </p>

					<p>We have combined our experience in clinical spas, business and customer service to create in Puriin a destination for physical and emotional well-being.</p>

					<p>The members of the Puriin Spa & Wellness team prides ourselves on delivering the most advanced forms of colon hydrotherapy and flotation in luxurious surroundings.</p> 

					<p>In addition to the sumptuous surroundings and outstanding service, Puriin offers guests several wholly exclusive features. </p>

					<p>Our equipment is the most advanced available in the world today, ensuring the most optimal results. And we have addressed and removed the significant barriers that may have prevented some individuals from trying colon hydrotherapy or flotation in the past.</p>

					<p>For the first time in British Columbia, Puriin offers guests the opportunity to choose to self-administer the hydrotherapy procedure in private, to be accompanied throughout by a trained, professional technician, or to select a range of privacy options. Increased privacy not only has an emotional advantage, it has a physical one as well, allowing greater relaxation which, in turn, permits the hydrotherapy to have even greater effect.</p>

<!-- 					<p>Likewise, our flotation systems remove anxiety around claustrophobia, which is a concern for some who would like to experience it for the first time. We offer a flotation pod that is twice the size of conventional versions. And, in the event that even this spacious option does not alleviate residual anxieties, we offer an even more expansive open-float suite, where you can enjoy the experience in relaxed spaciousness or have your partner join you, in a suite where claustrophobia will not be an issue. Guests control the level of lighting, from full illumination to gazing at the starry ceiling to complete darkness. The mood is set to exactly what’s right for you and your partner.</p>

					<p>The flotation process, like the hydrotherapy experience, offers both physical and emotional benefits. While the Epsom salts draw toxins from the lymph system, the guest is transported to a dimension of weightlessness where the mind can focus or unfocus, the body can relax completely and the physical and emotional stresses of the past dissolve away.</p>

					<p>Moreover, both the hydrotherapy systems and the flotation pools adhere to the highest possible standards of hygienic purity.</p>

					<p>Our guests can expect an experience of lavish luxury from the moment they are greeted with warm professionalism through the entire enjoyable and rejuvenating visit. Guests are offered healthy refreshments, such as healing herbal teas, customized juices or alkaline water, which can boost metabolism and help absorb nutrients more effectively. Before beginning, a member of our trained service team will engage the guest in a consultation about health and wellness issues and concerns, then introduce the available options. </p>

					<p>At Puriin Spa & Wellness, everything is oriented to nurturing physical well-being and emotional balance through extraordinary treatments and incomparable service.</p> --> 

				</div>
      </div>
					
      <div class="col-md-4">
      	<div class="iilogo"></div>
      	<!-- <img src="assets/iilogo-white.jpg" id="iilogo"> -->
          <ul class="list-unstyled">
          	<li class="contact-label"><i class="fa fa-location-arrow fa-fw faa-float animated"></i>Location</li></br>
          	<li class="contact-text">3th floor</li></br>
          	<li class="contact-label"><i class="fa fa-clock-o fa-fw faa-spin animated"></i>Hours</li></br>
          	<li class="contact-text">11am - 11pm</li></br>
          	<li class="contact-label"><i class="fa fa-phone fa-fw faa-wrench animated"></i>Phone</li></br>
            <li class="contact-text">(778) 960-6320</li></br>
            <li class="contact-label"><i class="fa fa-envelope-o fa-fw faa-passing animated"></i>Email</li></br>
            <li class="contact-text">frankxu1992@gmail.com</li>
            </br>
            <a href="#services" class="btn btn-lg">BOOK APPOINTMENT</a>
        <!--     <ul class="list-inline">
              <li><a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul> -->
          </ul>
      </div>
    </div>
	</section>
	<div class="row">		
		<hr class="divider">
	</div>
</div>
<footer>
        <div class="row">
            <div class="col-md-8">
                <span class="copyright">Copyright &copy; Purriin Spa 2015</span>
            </div>
            <div class="col-md-3">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
</footer>
