<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="heading">Spa Menu</h1>
  </div>
</div>
  <br>
<div class="row"> 
  <hr class="divider">
</div>
<h3 class="sub-heading2">Colon Hydrotherapy</h3>
<div class="row text-center">
  <div class="col-xs-6 col-lg-4">
    <img src="/assets/colon.jpg" class="menu-img">
  </div>
  <div class="col-xs-12 col-md-8">
    <br>  
    <p class="maintext">Colon hydrotherapy is among the most effective means of enhancing the functioning of your digestive system, relieving constipation, rehydrating the colon and ridding the body of accumulated waste and the body's most concentrated toxins. It can strengthen the immune system, enhance nutrient uptake and reduce weight. Colon hydrotherapy has been credited with decreasing fatigue, reducing headaches, reversing weight gain and reinvigorating energy. It can also have extraordinary impacts on improving skin tone and resiliency.</p>
    <p class="spa-time">40min - 139</p>
  </div>
</div>

<h3 class="sub-heading2">Float Pod</h3>
<div class="row text-center">
  <div class="col-xs-6 col-lg-4">
    <img src="/assets/floatation-close.jpg" class="menu-img">
  </div>
  <div class="col-xs-12 col-md-8">
    <br>
    <p class="maintext">Flotation, or floating therapy, creates a zero-gravity environment in a water pool, to soothe and heal your body from the stresses of life’s daily pressure. Floating in a flotation therapy suite can help achieve a deep state of relaxation. It allows the body to recover from stress, relieves pain, stimulates blood-flow through all tissues, and helps the body release natural endorphins. </p>
    <p class="spa-time">90min - 79</p>
  </div>
</div>

<h3 class="sub-heading2">Float Suit</h3>
<div class="row text-center"> 
  <div class="col-xs-6 col-lg-4">
    <img src="/assets/floatation-open.jpg" class="menu-img">
  </div>
  <div class="col-xs-12 col-md-8"> 
    <br>
    <p class="maintext">If you still suspect you may experience the anxiety of claustrophobia, Puriin Spa offers a completely open, spacious alternative. We have a room that is architected specifically for those who may be inclined toward anxiety or claustrophobia. You can relax, acclimate to your surroundings and, when you are ready, slide into the spacious flotation pool. It's even big enough for two, creating the opportunity for sharing this relaxing experience with a partner. Plus, you control the lighting. You can enjoy complete darkness, full illumination or just stare at the twinkling "stars" in the ceiling.</p>
    <p class="spa-time">90min - 89 (1 person)</p>
    <p class="spa-time">90min - 149 (2 people)</p>
  </div>
</div> 
<div class="row"> 
  <hr class="divider">
</div>
