<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="heading">Spa Menu</h1>
  </div>
</div>
  <br>
<div class="row"> 
  <hr class="divider">
</div>
<h3 class="sub-heading">Colon Hydrotherapy</h3>
<div class="row text-center">
  <div class="col-xs-6 col-lg-4">
    <img src="/assets/colon.jpg" class="menu-img">
  </div>
  <div class="col-xs-12 col-md-8">
    <br>  
    <p class="maintext">Colon hydrotherapy is a gentle infusion of water into the colon to cleanse it of accumulated waste and attendant toxins. Eliminating this build-up and its toxins can dramatically improve well-being, health and appearance.</p>
    <p class="spa-time">40min - 139</p>
  </div>
</div>
<div class="row"> 
  <hr class="divider">
</div>
<h3 class="sub-heading">Float Pod</h3>
<div class="row text-center">
  <div class="col-xs-6 col-lg-4">
    <img src="/assets/floatation-close.jpg" class="menu-img">
  </div>
  <div class="col-xs-12 col-md-8">
    <br>
    <p class="maintext">Flotation, or floating therapy, creates a zero-gravity environment in a water pool, to soothe and heal your body from the stresses of life’s daily pressure. Floating in a flotation therapy suite can help achieve a deep state of relaxation. It allows the body to recover from stress, relieves pain, stimulates blood-flow through all tissues, and helps the body release natural endorphins. </p>
    <p class="spa-time">90min - 79</p>
  </div>
</div>
<div class="row"> 
  <hr class="divider">
</div>
<h3 class="sub-heading">Float Suit</h3>
<div class="row text-center"> 
  <div class="col-xs-6 col-lg-4">
    <img src="/assets/floatation-open.jpg" class="menu-img">
  </div>
  <div class="col-xs-12 col-md-8"> 
    <br>
    <p class="maintext">Flotation, or floating therapy, creates a zero-gravity environment in a water pool, to soothe and heal your body from the stresses of life’s daily pressure. Floating in a flotation therapy suite can help achieve a deep state of relaxation.</p>
    <p class="spa-time">90min - 89 (1 person)</p>
    <p class="spa-time">90min - 149 (2 people)</p>
  </div>
</div> 
<div class="row"> 
  <hr class="divider">
</div>
