<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="heading">Spa Menu</h1>
  </div>
</div>
  <br>
<div class="row"> 
  <hr class="divider">
</div>
<div class="row text-center">
  <div class="col-md-4">
    <h3 class="sub-heading">Colon Hydrotherapy</h3>
    <img src="/assets/colon.jpg" class="menu-img">
    <p class="spa-time">60min  -  C<i class="fa fa-usd"></i>129</p>
    <p class="maintext">Colon hydrotherapy is a gentle infusion of water into the colon to cleanse it of accumulated waste and attendant toxins. Eliminating this build-up and its toxins can dramatically improve well-being, health and appearance.</p>
  </div>
  <div class="col-md-4">
    <h3 class="sub-heading">Floatation(open)</h3>
    <img src="/assets/floatation-open.jpg" class="menu-img">
    <p class="spa-time">70min  -  79</p>
    <p class="maintext">Flotation, or floating therapy, creates a zero-gravity environment in a water pool, to soothe and heal your body from the stresses of life’s daily pressure. Floating in a flotation therapy suite can help achieve a deep state of relaxation. It allows the body to recover from stress, relieves pain, stimulates blood-flow through all tissues, and helps the body release natural endorphins. </p>
  </div>
  <div class="col-md-4">
    <h3 class="sub-heading">Floatation(close)</h3>
    <img src="/assets/floatation-open.jpg" class="menu-img">  
    <p class="spa-time">75min  -  149</p>
    <p class="maintext">Flotation, or floating therapy, creates a zero-gravity environment in a water pool, to soothe and heal your body from the stresses of life’s daily pressure. Floating in a flotation therapy suite can help achieve a deep state of relaxation. It allows the body to recover from stress, relieves pain, stimulates blood-flow through all tissues, and helps the body release natural endorphins.</p>
  </div>
</div>
<div class="row"> 
  <hr class="divider">
</div>
